[submodule "external/drogon"]
	path = external/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "external/lunasvg"]
	path = external/lunasvg
	url = https://github.com/sammycage/lunasvg.git
